#message{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgb(120, 193, 144);
    color: white;
}

footer{
    position: absolute;
    padding: 0;
    width: 100%;
}
